@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import "tailwindcss";

:root {
  --background: #fbfbfb;
  --foreground: #171717;
  --primary-blue: #1163fb;
  --prim-text: #000000;
  --sec-text: #59595a;
  --bluish-white: #f6f7fa;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* MY ADDED COLORS */
  --color-primary-blue: var(--primary-blue);
  --color-prim-text: var(--prim-text);
  --color-sec-text: var(--sec-text);
  --color-bluish-white: var(--bluish-white);


  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-kumbh: "VT323", sans-serif;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */




/* MY CSS */

/* Hide scrollbar for Chrome, Safari and Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
  /* Firefox */
}

/* Hide scrollbar for IE, Edge Legacy */
.no-scrollbar {
  -ms-overflow-style: none;
}